/**
*	Classifibikes | Default CSS
*	Copyright Â© 2014 Classifibikes [http://www.classifibikes.com.br]
*
*	Developed By: Tiago Gerken <tiago@classifibikes.com.br>
*
**/


/* ############ HTML Elements ############ */

*{
	padding: 0px;
	margin: 0px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	line-height: 1em;
}

::selection {color:#fff; background:#61942E;}
::-moz-selection {color:#fff; background:#61942E;}

body{
	background: #fcfcfc;
	font-family: "Arial", Sans-serif;
	font-size: 13px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
	height: 100%;
}

a{text-decoration:none;}

.cb-header{
	width: 100%;
	height: 125px;
	background: #fff;
	box-shadow: 0px 1px 1px rgba(0,0,0,.2);
	position: absolute;
	top: 0;
	z-index: 2;
}

.cb-hdr-top, .cb-hdr-bottom{
	width: 980px;
	margin: 0 auto;
}

.cb-hdr-top{position: relative; height: 75px;}
.cb-hdr-top:after{
	content: '';
	position: absolute;
	width: 780px;
	left: 50%; bottom: 0;
	margin-left: -390px;
	height: 1px;
	background: rgb(237,237,237); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5NSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(237,237,237,1) 0%, rgba(255,255,255,1) 85%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(237,237,237,1)), color-stop(85%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 85%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 85%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 85%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 85%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

}

a.publishing-ad{
	font-size: 1.15em;
	color: #777;
	position: absolute;
	top: 28px; left: 0;
	width: auto;
	height: 18px;
	padding-left: 32px;
	text-align: right;
	display: block;
	background: url("http://localhost/classifibikes/frontend/img/source/bullets.fw.png") no-repeat;
}

a.publishing-ad:hover{text-decoration: underline;}

.publishing-ad .icon{
	width: 19px;
	height: 16px;
	background: #000;
}

.publishing-ad strong{color: #3F85DE;}

h1.logo{
	width: 165px;
	margin:0 auto;
	height: 35px;
	position: absolute;
	top: 20px; left: 50%;
	margin-left: -84px;
	overflow: hidden;
	background: url("http://localhost/classifibikes/frontend/img/source/main.fw.png") no-repeat;
}

h1.logo a{
	text-indent: -1000em;
	display: block;
	width: 100%;
	height: 100%;
}

.cb-user-card{
	position: absolute;
	top: 10px; right: 0;
	width: auto;
	height: 50px;
}

.cb-user-card .user-info{
	width: auto;
	float: left;
	text-align: right;
	margin-top: 9px;
}

.cb-user-card .user-info a.register-trigger{
	display: block;
	font-size: 1.15em;
	color: #777;
	font-weight: bold;
	margin-bottom: 5px;
}

.cb-user-card .user-info a.register-trigger:hover{text-decoration: underline;}

.cb-user-card .user-info span{
	font-size: 0.9em;
	color: #bbb;
}

.cb-user-card .user-info span a{
	color: #777;
}

.cb-user-card .user-info span a:hover{text-decoration: underline;}

.cb-user-card .user-card-avatar{
	width: 50px;
	height: 50px;
	float: right;
	margin-left: 10px;
}

.cb-user-card .user-card-avatar .avatar-img{
	width: 50px;
	height: 50px;
	display: block;
	border-radius: 50%;
	overflow: hidden;
	background: url("http://localhost/classifibikes/frontend/img/source/main.fw.png") no-repeat;
	background-position: -242px -56px;
}

.cb-hdr-bottom{position: relative;}

.menu{
	float: left;
	position: relative;
}

.main-menu-trigger{
	display: block;
	width: 90px;
	height: 50px;
	float: left;
	position: relative;
	background: url("http://localhost/classifibikes/frontend/img/source/main.fw.png") no-repeat #fff;
	background-position: -295px -102px;
	z-index: 99;
}

.main-menu-trigger:before, .main-menu-trigger:after{
	content: "";
	position:absolute;
	width: 1px;
	height: 100%;
	bottom: 0;
	background: -moz-linear-gradient(top, white 0%, #dddddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dddddd));
	background: -webkit-linear-gradient(top, white 0%, #dddddd 100%);
	background: -o-linear-gradient(top, white 0%, #dddddd 100%);
	background: -ms-linear-gradient(top, white 0%, #dddddd 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #dddddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$end',GradientType=0 );
}

.main-menu-trigger:before{left: 0}
.main-menu-trigger:after{right: 0;}

nav.main-nav{
	width: 980px;
	min-height: 350px;
	clear: both;
	top: 0px;
	position: relative;
	background:#FBFBFB;
	z-index: 1;
	border:1px solid #ddd;
	overflow: hidden;
	box-shadow: 0 1px 2px 0px rgba(0,0,0,.1);
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-ms-border-radius: 0 0 3px 3px;
	-o-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	border-top: 1px solid rgba(0,0,0,.1);
	border-bottom: 1px solid rgba(0,0,0,.2);
	display: none;
}

nav.main-nav .main-nav-sidebar{
	width: 23%;
	background: #fff;
	position: absolute;
	height: 100%;
	left: 0; top: 0;
	padding: 30px 0;
	-webkit-border-radius: 0 0 0 3px;
	-moz-border-radius:  0 0 0 3px;
	-ms-border-radius:  0 0 0 3px;
	-o-border-radius:  0 0 0 3px;
	border-radius:  0 0 0 3px;
}

nav.main-nav .main-nav-sidebar h3{
	font-size: 1.5em;
	font-weight: normal;
	color: #ddd;
	margin-bottom: 30px;
	padding: 0 0 0 30px;
}

nav.main-nav .main-nav-sidebar > li{
	line-height: 50px;
	list-style: none;
	font-size: 1.15em;
	color: #777;
	padding: 0 0 0 30px;
}

nav.main-nav .main-nav-sidebar > li:hover{
	border-left: 3px solid #ddd;
	padding-left: 27px;
}

nav.main-nav .main-nav-sidebar > li.active{
	border-left: 3px solid #8CC24C;
	font-weight: bold;
	padding-left: 27px;
	background: -moz-linear-gradient(top, white 0%, #dddddd 100%);
	background: -webkit-gradient(linear, right left, right left, color-stop(0%, white), color-stop(100%, #dddddd));
	background: -webkit-linear-gradient(top, white 0%, #dddddd 100%);
	background: -o-linear-gradient(right, white 0%, #dddddd 100%);
	background: -ms-linear-gradient(top, white 0%, #dddddd 100%);
	background: linear-gradient(to right, #ffffff 0%, #fbfbfb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$end',GradientType=0 );
}

.submenu-container{
	background: transparent;
	width: 77%;
	padding: 30px;
	float: right;
}

.submenu-container h4{
	font-size: 1.5em;
	color: #8CC14C;
	letter-spacing: -0.03em;
	margin-bottom: 40px;
}

.submenu-container span{
	line-height: 1.5em;
	color: #777;
}

.hover{visibility: visible;}

form.search{
	width: 790px;
	height: 50px;
	position: absolute;
	left: 90px;
}

form.search input[type="text"]{
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 1.15em;
	outline: none;
	color: #bbb;
	border:none;
}

form.search input:hover, form.search input:focus{color: #777;}

.brands{
	width: 47%;
	/*background: rgba(0,0,0,.4);*/
}

.brands > li{
	list-style: none;
	margin-bottom: 30px;
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
}

.brands li .b-number{
	display: block;
	font-size: 25px;
	height: 100%;
	letter-spacing: -0.08em;
	color: #ddd;
	font-weight: bold;
	line-height: 1em;
	float: left;
}

.brands li:hover .b-number{
	color: #bbb;
}

.brands .brand h5{
	font-size: 1.3em;
	width: 88%;
	float: right;
	overflow: hidden;
	margin-bottom: 10px;
}

.brands .brand h5 a{color: #777;}
.brands .brand h5 a:hover{text-decoration: underline;}

.brands .brand-product-list{
	width: 88%;
	overflow: hidden;
	float: right;
	position: relative;
}

.brands .brand-product-list li{
	display: inline-block;
	margin-bottom: 3px;
}

.brands .brand-product-list li a{
	color: #777;
}

.brands .brand-product-list li a:hover{text-decoration: underline;}

.brands.left{
	float: left;
	padding-right: 50px;
	border-right: 1px solid #eee;
}

.brands.right{
	float: right;
}

.cb-container{
	position: relative;
	top: 125px;
	z-index: 1;
}

.highlight{
	background: #6A737B;
	width: 100%;
	height: 90px;
	padding: 20px 0;
}

.highlight h2, .highlight p{
	width: 960px;
	margin: 0 auto;
	text-align: center;
	text-shadow:0px 1px 1px rgba(0,0,0,0.2);
	color: #fff;
}

.highlight h2{font-size: 1.92em; margin-bottom: 8px; letter-spacing: -0.03em}
.highlight p{font-size: 1.2em;}

.cb-home-categories{
	width: 100%;
	border-bottom: 1px solid #eee;
	margin-bottom: 50px;
}

.cat-group{
	width: 980px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.cb-home-categories .category{
	width:33.3%;
	float: left;
	padding: 30px 50px 42px;
	position: relative;
	display: block;
}

.cb-home-categories .category:hover:after{
	content: "";
	height: 2px;
	background: #8cc24c;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}

.cb-home-categories .category:hover h3{color:#8cc24c;}

.cb-home-categories .category .cat-icon{
	width: 73px;
	height: 65px;
	background: url("http://localhost/classifibikes/frontend/img/source/main.fw.png") no-repeat;
	margin: 0 auto;
}

.category.cat-bikes .cat-icon{background-position: 0px -40px;}
.category.cat-parts .cat-icon{background-position: -154px -40px;}
.category.cat-services .cat-icon{background-position: -77px -40px;}
.category.cat-bikes:hover .cat-icon{background-position: 0px -109px;}
.category.cat-parts:hover .cat-icon{background-position: -154px -109px;}
.category.cat-services:hover .cat-icon{background-position: -77px -109px;}

.cat-parts{border-left: 1px solid #eee; border-right: 1px solid #eee;}


.cat-services:before{left: 0}

.cb-home-categories .category h3, .category p{
	width: 100%;
	text-align: center;
	margin-top: 8px;
	color: #777;
}

.cb-home-categories .category h3{
	font-size: 1.53em;
	letter-spacing: -0.03em;
}

.cb-home-categories .category p{line-height: 1.3em;}

.cb-home-listing{
	width: 980px;
	margin: 0 auto;
	overflow: hidden;
}

.cb-home-listing .cb-hl-header{
	border-bottom: 1px solid #eee;
	margin-bottom: 30px;
}

.cb-home-listing .cb-hl-header h3{
	font-size: 1.53em;
	letter-spacing: -0.03em;
	color: #8CC04C;
	text-align: center;
}

.cb-home-listing .cb-hl-header p.service-guide-text{
	width: 100%;
	font-size: 1.23em;
	color: #777;
	text-align: center;
	margin-top: 15px;
}

.services .cb-hl-header{border: none;}

.hl-hdr-links{
	overflow: hidden;
	width: 450px;
	margin: 0 auto;
	margin-top: 30px;
}

.hl-hdr-links li{
	list-style: none;
	float: left;
	padding: 0px 10px 20px;
}

.hl-hdr-links li a{color: #777; text-align: center; font-weight: bold;}

.hl-hdr-links li:hover{
	padding-bottom: 18px;
	border-bottom: 2px solid #4086DE;
}

.hl-hdr-links li:hover a{color: #4086DE;}

.cb-hl-content, .listing{
	width: 100%;
	overflow: hidden;
	margin-bottom: 30px;
}

.cb-prod-item{
	width: 230px;
	float: left;
	margin: 0 20px 20px 0;
}

.cb-prod-item:nth-child(4n+4){
	margin: 0 0 20px 0;
}

.cb-prod-item a{display: block;}

.cb-prod-item a > .cb-prod-img:before{
	content: "";
	position: absolute;
	right: 0; left: 0; bottom: 0; top: 0;
	border: 1px solid rgba(0,0,0,.1);
}

.cb-prod-item.destaque .cb-prod-img:after{
	content: "produto em destaque!";
	position: absolute;
	right: 0; left: 0; top: 0;
	text-transform: uppercase;
	color: #fff;
	background: rgba(64,134,222,0.85);
	font-size: 0.9em;
	text-align: center;
	line-height: 30px;
	font-weight: bold;
}

.cb-prod-item a:hover > .cb-prod-img:before{
	content: "";
	position: absolute;
	right: 0; left: 0; bottom: 0; top: 0;
	border: 2px solid #8CC24C;
}

.cb-prod-item .cb-prod-img{
	position: relative;
	width: 230px;
	height: 173px;
	border-radius: 3px 3px 3px 0;
	overflow: hidden;
	margin-bottom: 10px;
}

.cb-prod-item .cb-prod-img span.state{
	position: absolute;
	bottom: 0; left: 0;
	background: #fcfcfc;
	color: #777;
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.7);
	font-size: 0.8em;
	text-transform: uppercase;
	font-weight: bold;
	padding: 5px 6px 3px 0px;
	letter-spacing: -0.03em;
	display: block;
	border-radius: 0px 2px 0px 0px;
}

.cb-prod-item h4.cb-prod-name{
	font-size: 1.23em;
	letter-spacing: -0.03em;
	color: #8CC24C;
	margin-bottom: 8px;
}

.cb-prod-item strong.cb-prod-price{
	font-size: 1.1em;
	display: block;
	letter-spacing: -0.03em;
	color: #777;
	margin-bottom: 6px;
}

.cb-prod-item span.cb-prod-location{
	font-size: 0.8em;
	display: block;
	text-transform: uppercase;
	color: #777;
}


.cb-home-banner{
	padding: 5px;
	width: 980px;
	background: url(../img/banner-bg.png) repeat 0 0;
	margin: 0 auto;
	margin-bottom: 30px;
}

.cb-serv-item{
	background: rgba(0,0,0,.2);
	width: 33.1%;
	margin:1px 1px;
	height: 120px;
	float: left;
	position: relative;
}

.cb-serv-item a{
	display: block;
	position: absolute;
	right: 0; left: 0; bottom: 0; top: 0;
}

.cb-serv-item a .cb-serv-img{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.cb-serv-item a .cb-serv-img img{
	-webkit-filter: brightness(75%);
	position: relative;
	-webkit-transition: -webkit-transform .2s linear;
	-moz-transition: -moz-transform .2s linear;
	-o-transition: -o-transform .2s linear;
	-ms-transition: -ms-transform .2s linear;
	transition: transform .2s linear;
}

.cb-serv-item a:hover .cb-serv-img img{
	-webkit-transform: scale(1.1)translateZ(0);
	-moz-transform: scale(1.1)translateZ(0);
	-o-transform: scale(1.1)translateZ(0);
	-ms-transform: scale(1.1)translateZ(0);
	transform: scale(1.1)translateZ(0);
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-o-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
}

.cb-serv-item a .cb-serv-img:before{
	content: "";
	position: absolute;
	right: 0; left: 0; bottom: 0;
	height: 90px;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxOSUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 19%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(19%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 19%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 19%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 19%,rgba(0,0,0,0.8) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 19%,rgba(0,0,0,0.8) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-8 */
	z-index: 2;
}

.cb-serv-item a .cb-serv-img h4{
	position: absolute;
	z-index: 2;
	font-size: 1.53em;
	width: 87%;
	line-height: 1.2em;
	letter-spacing: -0.03em;
	color: #fff;
	right: 20px; left: 20px; bottom: 20px;
	text-shadow:0px 1px 1px rgba(0,0,0,.4);
}

footer{
	width: 100%;
	overflow: hidden;
}

.cb-ft-group{
	width: 980px;
	margin: 0 auto;
}

.cb-footer-social{
	width: 100%;
	padding: 30px 0px;
	background: #8CC04C;
	overflow: hidden;
}

.cb-links,.cb-facebook-likebox,.cb-footer-banner{
	width: 300px;
	float: left;
	overflow: hidden;
}

.cb-links,.cb-facebook-likebox{
	margin-right: 40px;
}

.cb-links .cb-company-links{
	margin-bottom: 20px;
}

.cb-links h3{
	font-size: 1.23em;
	color: #fff;
	font-weight: bold;
	letter-spacing: -0.02em;
	margin-bottom: 10px;
}

.cb-links ul li{
	list-style: none;
	line-height: 1.5em;
}

.cb-links ul li a{
	color: #C5E69D;
	text-shadow:0px 1px 0px rgba(0,0,0,0.1);
}

.cb-links ul li a:hover{
	color: #fff;
}

.cb-footer-credits{
	width: 100%;
	padding: 30px 0px;
	background: #6A923A;
	overflow: hidden;
}

.copyright{
	color: #C5E69D;
	float: left;
}

.cb-footer-links{
	float: left;
	margin-left: 50px;
}

.cb-footer-links li{
	float: left;
	list-style: none;
	margin-right: 20px;
}

.cb-footer-links li a{
	color: #C5E69D;
}

.cb-footer-links li a:hover{
	color: #fff;
}

.cyclepixel-logo{
	width: 110px;
	height: 15px;
	overflow: hidden;
	float: right;
	text-indent: -2000px;
	background: url("http://localhost/classifibikes/frontend/img/source/main.fw.png") no-repeat;
background-position: -188px 0;
}
